---
import { CollectionEntry, getCollection } from "astro:content";
import Main from "../../layouts/Main.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import readingTime from "reading-time";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const readTime = readingTime(post.body);
const { Content } = await post.render();
---

<Main {...post.data}>
  <div class="grid gap-24 mt-24">
    <heder>
      <h1
        class="inline-block text-5xl font-nunito font-black bg-clip-text text-transparent bg-gradient-to-r from-primary-red to-primary-pink"
      >
        {post.data.title}
      </h1>
      <div class="flex gap-2">
        <ul class="flex gap-2">
          {
            post.data.tags.map((tag) => (
              <li class="text-primary-red">#{tag.id}</li>
            ))
          }
        </ul>
        ∙
        <span>{readTime.text}</span>
        ∙
        <FormattedDate date={post.data.date} />
      </div>
    </heder>
    <div class="prose prose-xl prose-headings:font-nunito">
      <Content />
    </div>
  </div>
</Main>
