---
import { CollectionEntry, getCollection } from "astro:content";
import Main from "../../layouts/Main.astro";
import FormattedDate from "../../components/FormattedDate.astro";
import readingTime from "reading-time";
import MainHeading from "../../components/MainHeading.astro";

export async function getStaticPaths() {
  const posts = await getCollection("blog");
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: post,
  }));
}
type Props = CollectionEntry<"blog">;

const post = Astro.props;
const readTime = readingTime(post.body);
const { Content } = await post.render();
---

<Main {...post.data}>
  <div
    class="grid gap-16 mt-8 [grid-template-columns:_minmax(300px,_max-content)_1fr]"
  >
    <header>
      <MainHeading>
        {post.data.title}
      </MainHeading>
      <div class="flex gap-2">
        <ul class="contents">
          {
            post.data.tags.map((tag) => (
              <li class="text-primary-red">#{tag.id}</li>
            ))
          }
        </ul>
        ∙
        <span>{readTime.text}</span>
        ∙
        <FormattedDate date={post.data.date} />
      </div>
    </header>
    <div></div>
    <div class="prose prose-xl prose-headings:font-nunito">
      <Content />
    </div>
    <div>
      <p>In this post</p>
    </div>
  </div>
</Main>
