---
import { getCollection } from "astro:content";
import Main from "../../layouts/Main.astro";
import PostsList from "../../components/PostsList.astro";
import MainHeading from "../../components/MainHeading.astro";

const posts = (await getCollection("blog")).sort(
  (a, b) => b.data.date.valueOf() - a.data.date.valueOf()
);
---

<Main mainContainerClass="flex flex-col gap-16">
  <MainHeading>Blog</MainHeading>
  <PostsList posts={posts} />
</Main>
