---
import Main from "../layouts/Main.astro";
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import PostsList from "../components/PostsList.astro";
import Section from "../components/Section.astro";

const posts = (await getCollection("blog"))
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf())
  .slice(0, 7);
---

<Main title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Section title="Recent posts">
    <PostsList posts={posts} seeMoreUrl="/blog" />
  </Section>
</Main>
