@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-lato: "Lato";
    --font-nunito: "Nunito Variable";

    --background: 0 0% 100%;
    --foreground: 0 0% 0%;

    --primary-red: 350 100% 48.2%;
    --primary-pink: 338 95% 56%;
  }

  @media (prefers-color-scheme: dark) {
    :root {
        --background: 0 0% 19.0%;
        --foreground: 0 0% 95%;
    }
  }
}
