---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";

const { title, description, mainContainerClass } = Astro.props;
---

<!DOCTYPE html>
<html lang="en" class="scroll-smooth">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <body class="font-lato container grid gap-16 my-8">
    <Header />
    <main class={mainContainerClass}>
      <slot />
    </main>
    <Footer />
  </body>
</html>
